body {
    font-weight: 200;
    font-size: 1.5rem;
    color: #444
}

.intro-left {
    background: url(../assets/images/homebody1.JPG);
}

.col-md-8 {
    width: 50%;
}
.nav {
    background-color: grey;
    font-weight: bold;
    color: black
}

